<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019401694471-m1gocif5f72v0in1tkuilrcdkak0rkms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019401694471-m1gocif5f72v0in1tkuilrcdkak0rkms</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1019401694471-4gof346lr5fs384qqgqk9m3abbffn0r2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIas8LyolCTuuCvqoRPkFlg_Dw8RbcH1s</string>
	<key>GCM_SENDER_ID</key>
	<string>1019401694471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.in.androidthai.newAuthen</string>
	<key>PROJECT_ID</key>
	<string>newauthen-4b348</string>
	<key>STORAGE_BUCKET</key>
	<string>newauthen-4b348.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019401694471:ios:838e692b7f961599</string>
	<key>DATABASE_URL</key>
	<string>https://newauthen-4b348.firebaseio.com</string>
</dict>
</plist>